<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guohe3.just.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.guohe3.just.DO.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="academy" jdbcType="VARCHAR" property="academy"/>
        <result column="class_num" jdbcType="VARCHAR" property="classNum"/>
        <result column="organization" jdbcType="VARCHAR" property="organization"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, password, name, birthday, major, academy, class_num, organization
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
        where id = #{id,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from student
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.guohe3.just.DO.Student"
            useGeneratedKeys="true" keyProperty="id">
        insert into student (id, username, password,
        name, birthday, major,
        academy, class_num, organization)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR},
        #{academy,jdbcType=VARCHAR}, #{classNum,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}
    </insert>
    <insert id="insertSelective" parameterType="com.guohe3.just.DO.Student"
            useGeneratedKeys="true" keyProperty="id">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="academy != null">
                academy,
            </if>
            <if test="classNum != null">
                class_num,
            </if>
            <if test="organization != null">
                organization,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="major != null">
                #{major,jdbcType=VARCHAR},
            </if>
            <if test="academy != null">
                #{academy,jdbcType=VARCHAR},
            </if>
            <if test="classNum != null">
                #{classNum,jdbcType=VARCHAR},
            </if>
            <if test="organization != null">
                #{organization,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.guohe3.just.DO.Student">
        update student
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="major != null">
                major = #{major,jdbcType=VARCHAR},
            </if>
            <if test="academy != null">
                academy = #{academy,jdbcType=VARCHAR},
            </if>
            <if test="classNum != null">
                class_num = #{classNum,jdbcType=VARCHAR},
            </if>
            <if test="organization != null">
                organization = #{organization,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.guohe3.just.DO.Student">
        update student
        set username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=VARCHAR},
        major = #{major,jdbcType=VARCHAR},
        academy = #{academy,jdbcType=VARCHAR},
        class_num = #{classNum,jdbcType=VARCHAR},
        organization = #{organization,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>